body {
    font-family: "Roboto Mono", monospace;
    color: #333;
    background-color: white;
}
/* Container Layout */
.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
/* Only show the section that is targeted */
:target {
    display: block;
}

/* Show the first tab content by default (in case no hash is in the URL) */
 #about {
    display: block;
}

section:not(:target) {
    display: none;
}
body:not(:has(:target)) #about {
    display: block;
}
h2 {
    color: #a00000;
    animation: bounce-in-right 2s ease ;
}